
/* Elementor post-7 specific styles */

.elementor-7 .elementor-element.elementor-element-47b6712 {
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 100px;
  --padding-right: 0px;
  --padding-bottom: 50px;
  --padding-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-ee44b74 {
  --width: 50%;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 30px;
  --margin-left: 0px;
  --padding-top: 0px;
  --padding-right: 40px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-3d03e0f {
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
